@font-face {
	font-family: "Layton Font";
	src: url('RETRO GAMING.TTF');
}

$contour : #342322;
@mixin ombre {
    text-shadow: -1px -1px 0 $contour, 1px -1px 0 $contour, -1px 1px 0 $contour, 1px 1px 0 $contour;
text-shadow: -2px -2px 0 $contour, 2px -2px 0 $contour, -2px 2px 0 $contour, 2px 2px 0 $contour;
}


    



html {
    width: 512px;
    height: 420px;
    border: 1px solid black;
}


body {
    margin: 0;
    font-family: "Layton Font";
}

#background {
    position: fixed;
    z-index: 0;
    width: 512px;
    height: 420px;
    background-image: url(../img/decors/Bureau.png);
    background-size: contain;
    background-repeat: no-repeat;
    #p1 {
        width: 206px;
        height: 420px;
        transform: scaleX(-1);
        position: absolute;
        left: 0;
    }
    #p2 {
        width: 206px;
        height: 420px;
        position: absolute;
        right: 0;
    }
}

#textbox {
    position: fixed;
    z-index: 2;
    background-image: url(../img/TextBox-gauche.png);
    width: 512px;
    height: 384px;
    #name {
        font-size: 18px;
        font-weight: bold;
        position: fixed;
        top: 242px;
        left: 14px;
        width: 200px;
        height: 50px;
        color: white;
        @include ombre;
    }
    #dialogue {
        position: fixed;
        top: 280px;
        left: 20px;
        width: 485px;
        height: 100px;
        font-size: 20px;
    }
}

#button {
    background-color: rgb(92, 18, 18);
    position: fixed;
    width: 512px;
    top: 385px;
    text-align: center;
}

#b1,
#b2,
#b3 {
    color: white;
    font-weight: bold;
    -webkit-text-fill-color: white;
    box-shadow: inset 0px 0px 6px 1px white;
    background-color: #ffd68c;
    border-radius: 6px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 32px;
    text-decoration: none;
@include ombre;
    &:hover {
        background-color: #ffd0bb;
    }
    &:active {
        position: relative;
        top: 1px;
    }
}

@keyframes entreep1{
    0%{
left:10px;
    }
    50%{
        left:15px;
  
    }
    100%{
        left:0;

    }
}

@keyframes entreep2{
    0%{
        right:10px;
            }
            50%{
                right:15px;
          
            }
            100%{
                right:0;
        
            }
}

.entrep1{
    animation-duration: 0.5s;
    animation-name: entreep1;
}
.entrep2{
    animation-duration: 0.5s;
    animation-name: entreep2;
}